:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  --sm: 500;
  --md: 700;
  --lg: 900;
}
html {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--pale-blue);
}
main {
  background-color: var(--very-pale-blue);
}
.title {
  color: var(--dark-blue);
}
.text {
  color: var(--desaturated-blue);
}
.container-info {
  background-color: var(--very-pale-blue);
}
.btn {
  background-color: var(--bright-blue);
}
